.coc-com {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(125, 125, 125, 0.3);
  z-index: 10;
  padding: 7px;
  padding-left: 0;
  padding-right: 0;
}

.coc-com.coc-hide {
  display: none;
}

.coc-com.coc-show {
  display: block;
}

.coc-com .coc-info {
  position: relative;
  display: inline-block;
  margin: 6px;
}

.coc-com .coc-profile {
  opacity: 0.4;
  margin-bottom: 3px;
}

.coc-com .coc-author {
  text-align: center;
  font-size: 0.6em;
  line-height: 15px;
}

.coc-com .coc-text {
  position: relative;
  display: inline-block;
  text-align: justify;
  height: 100%;
  width: 65%;
  padding: 10px;
  line-height: 18px;
  vertical-align: top;
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
}
